body .navbar {
  margin-bottom: 0px;
}
body .notificaciones {
  height: 60px;
  background-color: #f0f0f0;
  padding: 15px;
}
.encabezado {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #4a4d50;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.registro {
  margin-top: 30px;
  border-radius: 15px;
  background-color: #fff;
}
.contenido {
  padding: 20px;
}
